{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% if name %}
    <h1> Recipe {{ name }} added!</h1>
{% else %}
    <h1>Enter a recipe:</h1>
    <br/>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }} {{ form.name(class="form-control") }}<br/>
        {{ form.category.label(class="form-label") }} {{ form.category(class="form-control") }}<br/>
        {{ form.ingredients.label(class="form-label") }} {{ form.ingredients(class="form-control") }}<br/>
        {{ form.instructions.label(class="form-label") }} {{ form.instructions(class="form-control") }}<br/>
        {{ form.image.label(class="form-label") }} {{ form.image(class="form-control") }}<br/>
        {{ form.submit(class="btn btn-primary") }}
    </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name="instructions") }}
    {{ ckeditor.config(name="ingredients") }}
{% endif %}
{% endblock %}