{% extends "base.html" %}

{% block content %}
<table class="table table-hover table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>Recipe Name</th>
        <th>Category</th>
        <th>Ingredients</th>
        <th>Instructions</th>
        <th>Image</th>
    </tr>
{% for recipe in our_recipes %}
    <tr>
    <td>{{ recipe.id }}<br/></td>
    <td>{{ recipe.name }}<br/></td>  
    <td>{{ recipe.category }}<br/></td>
    <td>{{ recipe.ingredients }}<br/></td>
    <td>{{ recipe.instructions }}</td>
    <td><img src="{{ url_for('static', filename='images/' + recipe.image) }}" width="50" height="50"></td>
    </tr>
{% endfor %}
</table>
{% endblock %}