{% extends "base.html" %}

{% block content %}

{% for m in meat %}
<div class="shadow p-3 mb-5 bg-body rounded w-50">
    <h2>{{ m.name }}</h2><hr>
    <br/>
    {% if m.image %}
    <img src="{{ m.image }}" width="300" height="200">
    <br/><br/>
    {% endif %}
    <a href="{{ url_for('routes.recipe', id=m.id) }}" class="btn btn-outline-primary">View Recipe</a>
    <a href="{{ url_for('routes.update_recipe', id=m.id) }}" class="btn btn-outline-primary">Update Recipe</a>
    <a href="{{ url_for('routes.delete_recipe', id=m.id) }}" class="btn btn-outline-danger">Delete</a>
</div>
{% endfor %}
{% endblock %}