{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<br/>

<div class="shadow p-3 mb-5 bg-body rounded w-50">
    <h2>{{ recipe.name }}</h2><hr>
    
    <h4>Ingredients:</h4>
    <ul>
        {% for ingredient in recipe.ingredients.split('\n') %}
            <li>{{ ingredient|safe }}</li>
        {% endfor %}
    </ul>
    <hr>
    
    <h4>Instructions:</h4>
    <p>{{ recipe.instructions|safe }}</p>
</div>

{% if recipe.category == "dairy" %}
<a href="{{ url_for('routes.dairy') }}" class="btn btn-outline-primary">Return to dairy</a>

{% elif recipe.category == "meat" %}
<a href="{{ url_for('routes.meat') }}" class="btn btn-outline-primary">Return to meat</a>

{% elif recipe.category == "salads" %}
<a href="{{ url_for('routes.salads') }}" class="btn btn-outline-primary">Return to salads</a>

{% elif recipe.category == "dessert" %}
<a href="{{ url_for('routes.desserts') }}" class="btn btn-outline-primary">Return to desserts</a>

{% endif %}
{% endblock %}
